// =======================================
// Background Images  Guide
// =======================================

// ICON
$ico_set01: "../images/common/ico_set01.png";
$ico_set02: "../images/common/ico_set02.png";
$ico_set02_1: "../images/common/ico_set02_1.png";
$ico_set02_2: "../images/common/ico_set02_2.png";
$ico_set03: "../images/common/ico_set03.png";
$ico_notice: "../images/common/ico_notice.png";
$ico_next: "../images/common/ico_next.png";
$ico_down: "../images/common/ico_down.png";
$ico_updown: "../images/common/ico_updown.png";
$ico_updown1: "../images/common/ico_updown1.png";
$ico_updown2: "../images/common/ico_updown2.png";
$ico_smart_arrow: "../images/common/ico_smart_arrow.png";
$ico_appicon: "../images/common/ico_appicon.png";

// Button
$btn_getstock:"../images/common/btn_getstock.png";
$btn_updown: "../images/common/btn_updown.png";

// Background
$bg_issue: "../images/common/bg_issue.png";
$bg_shadow: "../images/common/bg_shadow.png";
$bg_th: "../images/common/bg_th.png";
$bg_mystklist_bb: "../images/common/bg_mystklist_bb.png";
$bg_currentbar_off: "../images/common/bg_currentbar_off.png";
$bg_currentbar: "../images/common/bg_currentbar.png";
$bg_font_layer: "../images/common/bg_font_layer.png";
$bg_remain_sell: "../images/common/bg_remain_sell.png";
$bg_todaytopic: "../images/common/bg_todaytopic.png";
$bg_remain_buy: "../images/common/bg_remain_buy.png";

// Title
$title_kakao: "../images/common/title_kakao.png";

// ETC
$logo: "../images/common/logo.png";
$appicon: "../images/common/appicon.png";
$graph_arrow: "../images/common/graph_arrow.png";
$news_updown: "../images/common/news_updown.png";
$exchange_flag: "../images/common/exchange_flag.png";
$chart_empty_topic: "../images/common/chart_empty_topic.png";
$mini_chart_empty_topic: "../images/common/mini_chart_empty_topic.png";
$openevent_text1: "../images/events/openevent_text1.png";
$openevent_img1: "../images/events/openevent_img1.png";
$openevent_btn1: "../images/events/openevent_btn1.png";
$openevent_text2: "../images/events/openevent_text2.png";
$openevent_img2: "../images/events/openevent_img2.png";
$openevent_img3: "../images/events/openevent_img3.png";
$openevent_img4: "../images/events/openevent_img4.png";
$sns_kakaotalk: "../images/events/sns_kakaotalk.png";
$sns_kakaostory: "../images/events/sns_kakaostory.png";
$sns_facebook: "../images/events/sns_facebook.png";
$sns_twitter: "../images/events/sns_twitter.png";

// Images
$img_profile_noimg: "../images/common/img_profile_noimg.png";
$img_noprofile: "../images/common/img_noprofile.png";
$profile_camera: "../images/common/profile_camera.png";

//Flag Map
$icon_flags: (
	krw: "../images/common/flag/icon_flag_krw.png",
	zar: "../images/common/flag/icon_flag_zar.png",
	nok: "../images/common/flag/icon_flag_nok.png",
	nzd: "../images/common/flag/icon_flag_nzd.png",
	twd: "../images/common/flag/icon_flag_twd.png",
	dkk: "../images/common/flag/icon_flag_dkk.png",
	rub: "../images/common/flag/icon_flag_rub.png",
	myr: "../images/common/flag/icon_flag_myr.png",
	mxn: "../images/common/flag/icon_flag_mxn.png",
	mnt: "../images/common/flag/icon_flag_mnt.png",
	usd: "../images/common/flag/icon_flag_usd.png",
	bhd: "../images/common/flag/icon_flag_bhd.png",
	bdt: "../images/common/flag/icon_flag_bdt.png",
	vnd: "../images/common/flag/icon_flag_vnd.png",
	brl: "../images/common/flag/icon_flag_brl.png",
	bnd: "../images/common/flag/icon_flag_bnd.png",
	sar: "../images/common/flag/icon_flag_sar.png",
	sek: "../images/common/flag/icon_flag_sek.png",
	chf: "../images/common/flag/icon_flag_chf.png",
	sgd: "../images/common/flag/icon_flag_sgd.png",
	aed: "../images/common/flag/icon_flag_aed.png",
	gbp: "../images/common/flag/icon_flag_gbp.png",
	jod: "../images/common/flag/icon_flag_jod.png",
	eur: "../images/common/flag/icon_flag_eur.png",
	ils: "../images/common/flag/icon_flag_ils.png",
	egp: "../images/common/flag/icon_flag_egp.png",
	inr: "../images/common/flag/icon_flag_inr.png",
	idr: "../images/common/flag/icon_flag_idr.png",
	jpy: "../images/common/flag/icon_flag_jpy.png",
	cny: "../images/common/flag/icon_flag_cny.png",
	czk: "../images/common/flag/icon_flag_czk.png",
	kzt: "../images/common/flag/icon_flag_kzt.png",
	qar: "../images/common/flag/icon_flag_qar.png",
	cad: "../images/common/flag/icon_flag_cad.png",
	kwd: "../images/common/flag/icon_flag_kwd.png",
	thb: "../images/common/flag/icon_flag_thb.png",
	try: "../images/common/flag/icon_flag_try.png",
	pkr: "../images/common/flag/icon_flag_pkr.png",
	pln: "../images/common/flag/icon_flag_pln.png",
	php: "../images/common/flag/icon_flag_php.png",
	huf: "../images/common/flag/icon_flag_huf.png",
	aud: "../images/common/flag/icon_flag_aud.png",
	hkd: "../images/common/flag/icon_flag_hkd.png"
)